.fondo {
  background-image: url("../../../assets/img/fondoBasico.PNG");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  background-color: rgba(128, 128, 128, 0.4);
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto;
}

.custom-width {
  width: 45%; 
}

.btn-primary {
  display: block;
  margin: 0 auto;
}

h1 {
  color: aliceblue;
  font-weight: bold;
}

div {
  color: aliceblue;
  font-weight: bold;
}

input[type="text"] {
  background-color: rgba(255, 255, 255, 0.295);
  border: 1px solid #555;
  border-radius: 0;
  color: white;
}

input[type="password"] {
  background-color: rgba(255, 255, 255, 0.295);
  border: 1px solid #555;
  border-radius: 0;
  color: white;
}

::placeholder {
  color: white;
}

.toast-green {
  background-color: #4caf50 !important;
}

.toast-red {
  background-color: #f44336 !important;
}

.toast-orange {
  background-color: #ff9800 !important;
}

.toast-blue {
  background-color: #2196f3 !important;
}