.logo-img {
    max-width: 150px;
    height: auto;
  }
  
  .noticias-container {
    margin-top: 1rem;
  }
  
  .card {
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-style: italic;
    font-weight: bold;
  }
  
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
  }
  .container {
    padding-top: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    padding-right: 10px;
  }
  
  .navbar-brand img {
    height: 70px;
    margin-right: 10px;
  }
  
  .navbar-brand span {
    padding-top: 2%;
    font-size: 38px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    color: white;
  }
  
  :host {
    display: block;
    background-image: url("../../../../assets/img/fondoNoticias.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
  }
  