nav {
    background-color: rgb(17, 17, 17);
}

img {
    width: 100px;
    height: 100px;
}

.navbar-brand {
    text-align: center;
    margin: 0 auto;
}

.navbar-nav-left, .navbar-nav-right {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav-right .nav-item:last-child {
    margin-right: 0;
}
